.mw-ext-accordion {
	overflow: hidden;
}
.mw-ext-accordion > div {
	width: 100%;
	overflow: hidden;
}

.mw-ext-accordion > div > input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.mw-ext-accordion > div > label {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	font-weight: bold;
	cursor: pointer;
}
.mw-ext-accordion > div > label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	transition: all .35s;
}

.mw-ext-accordion > div > div {
	max-height: 0;
	padding: 0 1em;
	transition: all .35s;
}
.mw-ext-accordion > div > input:checked + label::after {
	transform: rotate(90deg);
}
.mw-ext-accordion > div > input:checked ~ div {
	max-height: 100vh;
	padding: 1em;
}
